*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
body{
 font-family:verdana,Helvetica,sans-serif;
 background:salmon;
}
section{
 display:grid;
 place-items:center;
}
h2{
 padding:1rem;
 text-align: center;
}
.first{
 padding:0.5rem;
}
.img{
 height:300px;
 width:300px;
 border-radius:50%;
 box-shadow: 0 15 25px rgba(0, 0, 0, 0.6);
}
.firstInfo{
 background:white;
 margin: 1rem;
 padding:1rem;
 border-radius: 0.5rem;
 box-shadow: 0 10 15px rgba(0,0,0,0.4);
}
.secondInfo{
  background: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 2rem;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
figure{
 text-align: center;

}
.info{
 padding:1rem;
}
h4{
 padding:0.6rem;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.links{
  padding:0.4rem;
  margin:0 0.2rem;
  text-decoration: none;
  color:blue;
  font-weight: bolder;
  font-size: larger;
  letter-spacing: 2px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.active{
  text-decoration: underline;
  color:white;
}
.home,.contacts{
  height:92vh;
  width:50%;
  background:url('./IMAGE/image11.jpeg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  border-radius:2rem;
}
.contacts{
  background:url('./IMAGE/picture12.jpeg');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: bolder;
    font-size: larger;
}

.heading-home{
  color:white;
  margin-top:20%;
}
.para-home{
  padding:1rem;
  margin:1rem;
  color:white;
  font-weight: bolder;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:black;
  border-radius: 0.4rem;
  letter-spacing: 2px;
  box-shadow: 0 0 25px rgba(255,255,255,0.8);
}
@media screen and (max-width:375px) {
  .secondInfo {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem
    }
        .home,
        .contacts {
          height: 92vh;
          width: 100%;
          border-radius: 0.5rem;
        }
        .contact-heading{
          color:blue;
        }
  
}